.svg-logo {
  width: 120px;
  height: 46px; }

.svg-back, .svg-forward {
  height: 46px;
  width: 20px;
  fill: #fff; }

.svg-back-black, .svg-forward-black {
  height: 46px;
  width: 20px;
  fill: #000; }

.svg-hamburger {
  width: 24px;
  height: 46px;
  stroke: #000; }

.svg-tile {
  height: 33px;
  width: 22px;
  fill: #000; }

.svg-cancel {
  height: 22px;
  width: 22px;
  fill: #fff; }

.jumbo {
  width: 100%;
  height: calc(100vh - 128px);
  background-repeat: no-repeat;
  background-position: center;
  position: relative; }
  @media screen and (min-width: 800px) {
    .jumbo {
      height: calc(100vh - 92px); } }
  .jumbo__description {
    position: absolute;
    width: 100%;
    color: #fff;
    font-weight: 300;
    opacity: 0.9;
    bottom: 1.3125rem;
    text-align: center;
    font-size: 1.32125rem;
    text-shadow: 4px 0 4px rgba(32, 32, 32, 0.75); }
  .jumbo__description:before {
    content: "\201E";
    margin-right: -2px; }
  .jumbo__description:after {
    content: "\201C";
    margin-left: -2px; }

.arrow__left, .arrow__right {
  position: absolute;
  top: 42%;
  text-align: center;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 49;
  font-size: 60px; }
  .arrow__left:hover, .arrow__right:hover {
    opacity: 0.7; }

.arrow__right {
  right: 18px; }
  @media screen and (min-width: 1400px) {
    .arrow__right {
      right: 30px; } }

.arrow__left {
  left: 18px; }
  @media screen and (min-width: 1400px) {
    .arrow__left {
      left: 30px; } }

.tiles {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  overflow: hidden; }
  .tiles:after {
    content: " ";
    display: block;
    clear: both; }
  .tiles__item {
    position: relative;
    width: 100%;
    opacity: 1;
    padding-right: 1.5px;
    padding-left: 1.5px;
    margin-bottom: 3px; }
    .tiles__item img {
      width: 100%;
      height: auto;
      vertical-align: bottom; }
  .tiles__description {
    position: absolute;
    width: 100%;
    bottom: 40px;
    text-align: center;
    color: #fff;
    font-size: 0.875rem;
    letter-spacing: .05rem;
    text-transform: uppercase;
    z-index: 50; }
  @media screen and (min-width: 375px) {
    .tiles__item {
      width: 50%;
      float: left; }
      .tiles__item:nth-child(2n + 1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both; }
      .tiles__item:nth-child(2n + 2) {
        margin-left: 50%;
        margin-right: -100%;
        clear: none; } }
  @media screen and (min-width: 800px) {
    .tiles {
      margin-top: 0;
      margin-bottom: 0; } }
  @media screen and (min-width: 753px) {
    .tiles__item {
      width: 33.33333%;
      float: left; }
      .tiles__item:nth-child(3n + 1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both; }
      .tiles__item:nth-child(3n + 2) {
        margin-left: 33.33333%;
        margin-right: -100%;
        clear: none; }
      .tiles__item:nth-child(3n + 3) {
        margin-left: 66.66667%;
        margin-right: -100%;
        clear: none; } }
  @media screen and (min-width: 999px) {
    .tiles {
      width: 999px; }
      .tiles__item {
        width: 33.33333%;
        float: left;
        height: 220px;
        overflow: hidden; }
        .tiles__item:nth-child(3n + 1) {
          margin-left: 0;
          margin-right: -100%;
          clear: both; }
        .tiles__item:nth-child(3n + 2) {
          margin-left: 33.33333%;
          margin-right: -100%;
          clear: none; }
        .tiles__item:nth-child(3n + 3) {
          margin-left: 66.66667%;
          margin-right: -100%;
          clear: none; }
        .tiles__item a:hover {
          opacity: 1; }
        .tiles__item img {
          height: 220px;
          cursor: pointer;
          -webkit-transition: all 0.15s ease-out;
          transition: all 0.15s ease-out; }
        .tiles__item:hover img {
          -webkit-transform: scale(1.1);
                  transform: scale(1.1);
          opacity: 0.8;
          -webkit-filter: blur(1px);
                  filter: blur(1px); }
      .tiles__zoomin {
        overflow: hidden;
        height: 220px; } }
  @media screen and (min-width: 1509px) {
    .tiles {
      width: 1509px; }
      .tiles__item {
        width: 25%;
        float: left;
        height: 250px; }
        .tiles__item:nth-child(4n + 1) {
          margin-left: 0;
          margin-right: -100%;
          clear: both; }
        .tiles__item:nth-child(4n + 2) {
          margin-left: 25%;
          margin-right: -100%;
          clear: none; }
        .tiles__item:nth-child(4n + 3) {
          margin-left: 50%;
          margin-right: -100%;
          clear: none; }
        .tiles__item:nth-child(4n + 4) {
          margin-left: 75%;
          margin-right: -100%;
          clear: none; }
        .tiles__item img {
          height: 250px; }
      .tiles__zoomin {
        height: 250px; } }

.project__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100vh - 128px); }
  @media screen and (min-width: 800px) {
    .project__item {
      height: calc(100vh - 92px); } }

.project__single {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.project__left-column {
  display: none; }
  @media screen and (min-width: 800px) {
    .project__left-column {
      display: block;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 65%; } }

.project__right-column {
  width: 100%;
  overflow-y: auto; }
  @media screen and (min-width: 800px) {
    .project__right-column {
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
      width: 35%;
      overflow-y: visible; } }

.project__description {
  text-align: justify;
  padding: 10% 15% 0 15%; }
  @media screen and (min-width: 800px) {
    .project__description {
      padding: 12vh 19% 12vh 9%; } }
  @media screen and (min-width: 1100px) {
    .project__description {
      padding: 30vh 22% 30vh 18%; } }
  .project__description > p {
    margin-bottom: 1.3125rem; }

.project__header {
  font-size: 0.875rem;
  font-weight: 500; }

.blog-preview {
  width: 83.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 8.33333%;
  margin-top: 2.625rem; }
  .blog-preview__left {
    display: none; }
    @media screen and (min-width: 800px) {
      .blog-preview__left {
        display: block;
        width: 40%;
        float: left;
        padding-left: 1%;
        padding-right: 1%;
        padding-right: 2.625rem; } }
    @media screen and (min-width: 1100px) {
      .blog-preview__left {
        width: 30%;
        float: left;
        padding-left: 1%;
        padding-right: 1%;
        padding-right: 2.625rem; } }
  @media screen and (min-width: 800px) {
    .blog-preview__right {
      width: 60%;
      float: left;
      padding-left: 1%;
      padding-right: 1%; } }
  @media screen and (min-width: 1100px) {
    .blog-preview__right {
      width: 70%;
      float: left;
      padding-left: 1%;
      padding-right: 1%; } }
  .blog-preview__text {
    text-align: justify;
    overflow: hidden;
    position: relative;
    line-height: 1.5em;
    max-height: 7.5em;
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
    width: calc(100% - 1em); }
    .blog-preview__text:before {
      content: "...";
      position: absolute;
      background-image: -webkit-linear-gradient(left, transparent, #fff 40%);
      background-image: linear-gradient(to right, transparent, #fff 40%);
      padding-left: 0.8em;
      right: 1em;
      bottom: 0; }
    .blog-preview__text:after {
      content: "";
      position: absolute;
      right: 1em;
      width: 1em;
      height: 1em;
      margin-top: 0.2em;
      background: #fff; }
  .blog-preview p {
    margin-bottom: 1.1rem; }
  .blog-preview__img {
    min-height: 185px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .blog-preview__item {
    min-height: 185px;
    margin-bottom: 2.625rem; }
  .blog-preview__header {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.32125rem; }
  .blog-preview__date {
    margin-right: 1em;
    padding-right: 1em;
    text-align: right;
    line-height: 1em;
    opacity: 0.4; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  margin-bottom: 0;
  padding-top: 0.25rem; }
  @media screen and (min-width: 800px) {
    .menu {
      opacity: 1; } }
  @media screen and (max-width: 799px) {
    .menu {
      display: none;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      opacity: 0;
      width: 100%;
      padding: 2.23125rem 0; } }
  .menu__item {
    padding: 0 20px;
    line-height: 46px;
    color: #999;
    text-transform: uppercase; }
    @media screen and (max-width: 799px) {
      .menu__item {
        line-height: 2.23125rem;
        text-align: center; } }
    .menu__item a:hover {
      opacity: 1;
      color: #000; }
    .menu__item--active {
      color: #000;
      font-weight: 500; }

.menu--small {
  position: absolute;
  top: 0;
  right: 20px; }
  @media screen and (min-width: 800px) {
    .menu--small {
      display: none; } }
  .menu--small:hover {
    cursor: pointer; }

.lang-sel {
  margin-bottom: 0;
  height: 100%; }
  .lang-sel__item {
    display: inline-block;
    text-transform: uppercase; }
    @media screen and (min-width: 800px) {
      .lang-sel__item {
        line-height: 46px; } }
    .lang-sel__item--active a {
      font-weight: 500; }

.about {
  width: 83.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 8.33333%;
  position: relative;
  top: 1.3125rem; }
  @media screen and (min-width: 1100px) {
    .about__breakpoint--left {
      width: 50%;
      float: left; } }
  @media screen and (min-width: 1100px) {
    .about__breakpoint--right {
      width: 41.66667%;
      float: right; } }
  @media screen and (min-width: 1400px) {
    .about__breakpoint--right {
      width: 50%;
      float: right; } }
  .about__title {
    padding-bottom: 2.625rem;
    margin-bottom: 2.625rem;
    border-bottom: 1px solid #000;
    text-transform: uppercase;
    font-size: 1.75rem;
    text-align: center; }
  .about__header {
    text-transform: uppercase; }
  .about__text {
    text-align: justify;
    clear: both; }
  .about__block {
    padding-top: 1.3125rem;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%; }
  .about__owner {
    margin-top: 0; }
  .about__image {
    width: 100%; }
    @media screen and (min-width: 1400px) {
      .about__image {
        width: 95%; } }

.table__item {
  font-size: 1.1375rem; }
  @media screen and (min-width: 1100px) {
    .table__item {
      font-size: 0.875rem; } }
  @media screen and (min-width: 1400px) {
    .table__item {
      font-size: 1.1375rem; } }

.table__item--bold {
  font-weight: 700; }

.map {
  width: 100%;
  height: 26.25rem;
  margin-bottom: 5.25rem; }

.contact {
  width: 83.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-left: 8.33333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  padding-bottom: 1.3125rem;
  margin-bottom: 2.625rem;
  border-bottom: 1px solid #000; }
  .contact__header {
    text-transform: uppercase; }
  .contact__first {
    text-align: justify; }
    @media screen and (max-width: 997px) {
      .contact__first {
        -webkit-box-flex: 1;
            -ms-flex: 1 0 100%;
                flex: 1 0 100%; } }
    @media screen and (min-width: 998px) {
      .contact__first {
        width: 41.66667%;
        float: left;
        padding-left: 0.83333%;
        padding-right: 0.83333%; } }
  @media screen and (max-width: 499px) {
    .contact__second {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 100%;
              flex: 1 0 100%; } }
  @media screen and (min-width: 500px) and (max-width: 997px) {
    .contact__second {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto; } }
  @media screen and (min-width: 998px) {
    .contact__second {
      -ms-flex-item-align: end;
          align-self: flex-end;
      margin-left: 8.33333%;
      width: 25%;
      float: left;
      padding-left: 0.83333%;
      padding-right: 0.83333%; } }
  @media screen and (min-width: 1400px) {
    .contact__second {
      margin-left: 16.66667%;
      width: 16.66667%;
      float: left;
      padding-left: 0.83333%;
      padding-right: 0.83333%; } }
  @media screen and (min-width: 500px) and (max-width: 997px) {
    .contact__third {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; } }
  @media screen and (max-width: 997px) {
    .contact__third {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  @media screen and (min-width: 998px) {
    .contact__third {
      width: 16.66667%;
      float: right;
      padding-left: 0.83333%;
      padding-right: 0.83333%;
      -ms-flex-item-align: end;
          align-self: flex-end; } }
  .contact__email {
    color: #ff01d8; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 1.16637rem; }
  .form__wrapper {
    margin: auto;
    width: 83.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%; }
    @media screen and (min-width: 800px) {
      .form__wrapper {
        width: 66.66667%;
        float: left;
        padding-left: 0.83333%;
        padding-right: 0.83333%; } }
    @media screen and (min-width: 1100px) {
      .form__wrapper {
        width: 50%;
        float: left;
        padding-left: 0.83333%;
        padding-right: 0.83333%; } }
    @media screen and (min-width: 1400px) {
      .form__wrapper {
        width: 33.33333%;
        float: left;
        padding-left: 0.83333%;
        padding-right: 0.83333%; } }
  .form__item {
    border-bottom: 1px solid #000;
    margin-bottom: 1.96875rem; }
    .form__item:last-of-type {
      border-bottom: 0; }
  .form__label {
    height: 100%; }
  .form__input {
    height: 100%;
    margin-left: 1.3125rem;
    border: 0;
    font-size: 1.16637rem;
    font-weight: 300; }
    .form__input:focus {
      outline: 0; }
  .form__textarea {
    width: 100%;
    min-height: 13.125rem;
    padding: 1rem 1.3125rem;
    border: 1px solid #000;
    font-size: 1.16637rem;
    font-family: "Rubik";
    font-weight: 300;
    resize: none; }
    .form__textarea:focus {
      outline: 0; }
  .form__submit {
    float: right;
    border: 2px solid #ff01d8;
    background: transparent;
    color: #ff01d8;
    font-weight: 700;
    font-size: 1.16637rem;
    padding: 5px 30px 5px 30px;
    -webkit-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    cursor: pointer; }
    .form__submit:hover {
      color: #fff;
      background-color: #ff01d8; }

.arrow-up {
  margin-top: 5.25rem;
  margin-bottom: 1.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .arrow-up img {
    margin: auto;
    cursor: pointer; }

.view-switcher {
  position: absolute;
  cursor: pointer;
  bottom: 92px;
  right: 3%; }
  @media screen and (min-width: 800px) {
    .view-switcher {
      bottom: 46px; } }
  .view-switcher__svg:hover {
    opacity: 0.6; }

.thumbnails {
  width: 90%;
  margin: 0 auto; }
  @media screen and (min-width: 1100px) {
    .thumbnails {
      width: 80%; } }
  .thumbnails__item {
    position: relative;
    cursor: pointer;
    width: 50%;
    float: left;
    padding-left: 0.46296%;
    padding-right: 0.46296%;
    height: 30vw;
    margin-bottom: 0.92593%;
    overflow: hidden;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s; }
    @media screen and (min-width: 500px) {
      .thumbnails__item {
        width: 33.33333%;
        float: left;
        padding-left: 0.46296%;
        padding-right: 0.46296%;
        height: 20vw; } }
    @media screen and (min-width: 800px) {
      .thumbnails__item {
        width: 25%;
        float: left;
        padding-left: 0.46296%;
        padding-right: 0.46296%;
        height: 18vw; } }
    @media screen and (min-width: 1100px) {
      .thumbnails__item {
        width: 25%;
        float: left;
        padding-left: 0.46296%;
        padding-right: 0.46296%;
        height: 15vw; } }
    @media screen and (min-width: 1400px) {
      .thumbnails__item {
        height: 12vw;
        width: 16.66667%;
        float: left;
        padding-left: 0.46296%;
        padding-right: 0.46296%; } }
    .thumbnails__item:hover {
      opacity: 0.6; }
  .thumbnails__img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .thumbnails__img--first {
    -webkit-filter: blur(2px);
            filter: blur(2px); }
  .thumbnails__title {
    position: absolute;
    width: 100%;
    bottom: 36%;
    color: #fff;
    font-weight: 300;
    text-align: center;
    font-size: 1.16637rem;
    text-shadow: 4px 0 4px rgba(32, 32, 32, 0.75);
    z-index: 1;
    cursor: pointer; }
    @media screen and (min-width: 1400px) {
      .thumbnails__title {
        bottom: 1.3125rem; } }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 82px;
  padding: 0.75em;
  font-size: 0.76562rem; }
  @media screen and (min-width: 800px) {
    .footer {
      height: 46px;
      padding: 0 3%;
      line-height: 46px; } }
  .footer__left {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    text-align: center; }
    @media screen and (min-width: 800px) {
      .footer__left {
        -webkit-box-flex: 1;
            -ms-flex: 1 0 0px;
                flex: 1 0 0;
        text-align: left; } }
  .footer__center {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    text-align: center; }
    @media screen and (min-width: 800px) {
      .footer__center {
        -webkit-box-flex: 1;
            -ms-flex: 1 0 0px;
                flex: 1 0 0; } }
  .footer__right {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    text-align: center; }
    @media screen and (min-width: 800px) {
      .footer__right {
        -webkit-box-flex: 1;
            -ms-flex: 1 0 0px;
                flex: 1 0 0;
        text-align: right; } }

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 46px;
  width: 100%;
  margin: auto;
  padding: 0 3%;
  background-color: #fff;
  z-index: 89; }
  @media screen and (max-width: 799px) {
    .header {
      position: fixed;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      width: 100%;
      background: #fff;
      z-index: 50; } }
  .header__left a:hover {
    opacity: 1; }
  .header__right {
    margin: 0; }
    @media screen and (max-width: 800px) {
      .header__right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-top: 0;
        height: 75%; } }

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

.screen-overlay {
  display: none;
  opacity: 0;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  top: 0;
  padding-top: 46px;
  background: rgba(0, 0, 0, 0.86);
  z-index: 100; }
  .screen-overlay--visible {
    display: block;
    opacity: 1; }
  .screen-overlay__cancel {
    position: absolute;
    top: 0.875rem;
    right: 3%;
    cursor: pointer; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  font-size: 1.75rem;
  line-height: 1.96875rem;
  margin-bottom: 1.11562rem; }

h2 {
  font-size: 1.55488rem;
  line-height: 1.96875rem;
  margin-bottom: 1.11562rem; }

h3 {
  font-size: 1.32125rem;
  line-height: 1.96875rem;
  margin-bottom: 1.11562rem; }

h4 {
  font-size: 1.16637rem;
  line-height: 1.3125rem;
  margin-bottom: 1.11562rem; }

h5 {
  font-size: 0.98438rem;
  line-height: 1.3125rem;
  margin-bottom: 1.11562rem; }

h6 {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  margin-bottom: 1.11562rem; }

body {
  font-size: 0.875rem;
  line-height: 1.5; }

p,
ol,
ul,
pre {
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.11562rem; }

*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-family: "Rubik", sans-serif; }

body {
  color: #000;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  body {
    height: 100%; } }

td {
  font-size: 1.16637rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700; }

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s; }
  a:visited {
    color: inherit; }
  a:hover {
    color: inherit;
    opacity: .6; }
  a:active {
    color: inherit; }

strong, b {
  font-weight: 700; }

.Wallop {
  position: relative; }

.wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin-top: 46px; }

/* fade image in after load */
.lazyload,
.lazyloading {
  opacity: 0; }

.lazyloaded {
  opacity: 1;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms; }
