@import "lib/reset";

//shevy
@include headings;

@include body;

@include content;

//susy
@include border-box-sizing;

html {
    font-family: "Rubik", sans-serif;
}

body {
    // @include debug-vertical-alignment;
    color: $black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

// IE10
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  body{
    height: 100%;
  }
}

td{
    font-size: get-size($h4);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

@include links(inherit, inherit, inherit, inherit);

strong, b {
    font-weight: 700;
}

.Wallop{
	position: relative;
}

.wrapper{
    flex: 1 0 auto;
    margin-top: $header-height;
}

/* fade image in after load */
.lazyload,
.lazyloading {
    opacity: 0;
}

.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
}
