// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-up-name: 'arrowUp';
$arrow-up-x: 29px;
$arrow-up-y: 34px;
$arrow-up-offset-x: -29px;
$arrow-up-offset-y: -34px;
$arrow-up-width: 22px;
$arrow-up-height: 19px;
$arrow-up-total-width: 305px;
$arrow-up-total-height: 72px;
$arrow-up-image: '../images/sprite.png';
$arrow-up: (29px, 34px, -29px, -34px, 22px, 19px, 305px, 72px, '../images/sprite.png', 'arrowUp', );
$icons-name: 'icons';
$icons-x: 0px;
$icons-y: 0px;
$icons-offset-x: 0px;
$icons-offset-y: 0px;
$icons-width: 152px;
$icons-height: 34px;
$icons-total-width: 305px;
$icons-total-height: 72px;
$icons-image: '../images/sprite.png';
$icons: (0px, 0px, 0px, 0px, 152px, 34px, 305px, 72px, '../images/sprite.png', 'icons', );
$logo-name: 'logo';
$logo-x: 152px;
$logo-y: 0px;
$logo-offset-x: -152px;
$logo-offset-y: 0px;
$logo-width: 153px;
$logo-height: 31px;
$logo-total-width: 305px;
$logo-total-height: 72px;
$logo-image: '../images/sprite.png';
$logo: (152px, 0px, -152px, 0px, 153px, 31px, 305px, 72px, '../images/sprite.png', 'logo', );
$marker-name: 'marker';
$marker-x: 0px;
$marker-y: 34px;
$marker-offset-x: 0px;
$marker-offset-y: -34px;
$marker-width: 29px;
$marker-height: 38px;
$marker-total-width: 305px;
$marker-total-height: 72px;
$marker-image: '../images/sprite.png';
$marker: (0px, 34px, 0px, -34px, 29px, 38px, 305px, 72px, '../images/sprite.png', 'marker', );
$spritesheet-width: 305px;
$spritesheet-height: 72px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($arrow-up, $icons, $logo, $marker, );
$spritesheet: (305px, 72px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
