.svg-logo {
	width: 120px;
	height: $header-height;
}

.svg-back, .svg-forward {
	height: 46px;
	width: 20px;
	fill: $white;
}

.svg-back-black,.svg-forward-black{
	height: 46px;
	width: 20px;
	fill: $black;
}

.svg-hamburger {
	width: 24px;
	height: $header-height;
	stroke: $black;
}

.svg-tile {
	height: 33px;
	width: 22px;
	fill: $black;
}

.svg-cancel {
	height: 22px;
	width: 22px;
	fill: $white;
}