//relative sizes for headings
$h1: 2;
$h2: 1.777;
$h3: 1.51;
$h4: 1.333;
$h5: 1.125;
$h6: 1;
$smaller: 0.875;

$gray: #999;
$black: #000;
$white: #fff;
$pink: #ff01d8;


$tiny: 500px;
$small: 800px;
$medium: 1100px;
$large: 1400px;

$small-c: 998px; //extra breakpoint for contact

//gallery variables
$tile-h: 220px;
$tile-h-big: 250px;
$tile-w: 330px;
$tile-w-big: 375px;

$gallery-3: $tile-w-big * 2 + 3px;

$gallery-w: $tile-w * 3 + 9px;
$gallery-w-big: $tile-w-big * 4 + 9px;

//blog
$blog-item: 185px;


$header-height: 46px;
$footer-height: 46px;
$full-height: calc(100vh - #{$header-height * 2});

// small screen footer
$footer-height-s: 82px;
$full-height-s: calc(100vh - #{$header-height + $footer-height-s});

$susy: (columns: 12, gutters: 1 / 4, gutter-position: inside, global-box-sizing: border-box, container: $large);

$shevy: (base-font-size: 0.875rem,
        base-line-height: 1.5,
        base-font-scale: ($h1, $h2, $h3, $h4, $h5, $h6),
        proximity: true,
        proximity-factor: .85);

// custom mixins and functions

@mixin links($link, $visit, $hover, $active) {
    a {
        color: $link;
        text-decoration: none;
        transition: .2s;

        &:visited {
            color: $visit;
        }

        &:hover {
            color: $hover;
            opacity: .6;  
        }

        &:active {
            color: $active;

        }
    }
}

@mixin ellipsis($line-height: 1.2em, $line-count: 1, $background-color: white){
    overflow: hidden;
    position: relative;
    line-height: $line-height;
    max-height: $line-height * $line-count; 
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;  
    width: calc(100% - 1em);

    &:before {
        content: "...";
        position: absolute;
        background-image: linear-gradient(to right, transparent, #fff 40%);
        padding-left: 0.8em;
        right: 1em;
        bottom: 0;
    }

    &:after {
        content: "";
        position: absolute;
        right: 1em;
        width: 1em;
        height: 1em;
        margin-top: 0.2em;
        background: $background-color;
    }
}