.about{
	@include span(10 of 12);
	@include push(1);
	
	position: relative;
	top: lhs(1);

	&__breakpoint--left{
		@media screen and (min-width: $medium){
			@include span(6 of 12 no-gutters);
		}	
	}

	&__breakpoint--right{
		@media screen and (min-width: $medium){
			@include span(5 of 12 last no-gutters);
		}

		@media screen and (min-width: $large){
			@include span(6 of 12 last no-gutters);
		}
	}

	&__title{
		padding-bottom: lhs(2);
		margin-bottom: lhs(2);
		border-bottom: 1px solid $black;

		text-transform: uppercase;
		font-size: get-size($h1);
		text-align: center;
	}

	&__header{
		text-transform: uppercase;
	}

	&__text{
		text-align: justify;
		clear: both;
	}

	&__block{
		padding-top: lhs(1);
		@include span(full);
	}

	&__owner{
		margin-top: 0;
	}

	&__image{
		width: 100%;

		@media screen and (min-width: $large){
			width: 95%;
		}
	}
}