.arrow{
	&__left, &__right{
        position: absolute;
        top: 42%;
        text-align: center;
        cursor: pointer;
        opacity: 1;
        transition: .5s;
        z-index: 49;
        font-size: 60px;      

        &:hover {
            opacity: 0.7;
        }
    }

    &__right {
        right: 18px;
        @media screen and (min-width: $large){
            right: 30px;
        }
    }

    &__left {
        left: 18px;
        @media screen and (min-width: $large){
            left: 30px;
        }
    }
}