 .blog-preview{
	@include span(10 of 12);
	@include push(1);

	margin-top:  lhs(2);

	&__left{
		display: none;

		@media screen and (min-width: $small){
			display: block;
			@include span(4 of 10);
			padding-right: lhs(2);
		}

		@media screen and (min-width: $medium){
			@include span(3 of 10);
			padding-right: lhs(2);
		}
	}

	&__right{
		@media screen and (min-width: $small){
			@include span(6 of 10);
		}
		@media screen and (min-width: $medium){
			@include span(7 of 10);
		}
	}

	&__text{
		text-align: justify;
		@include ellipsis($line-height: 1.5em, $line-count: 5, $background-color: $white);
	}

	p {
		margin-bottom: 1.1rem;
	}

	&__img{
		min-height: $blog-item;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	&__item{
		min-height: $blog-item;
		margin-bottom: lhs(2);
	}

	&__header{
		text-transform: uppercase;
		font-weight: 500;
		font-size: get-size($h3);
	}

	&__date {
		margin-right: 1em;
		padding-right: 1em;
		
		text-align: right;
		line-height: 1em;
		
		opacity: 0.4;
	}
}