.contact{
	@include span(10 of 12);
	@include push(1);

	display: flex;
	flex-flow: wrap;

	padding-bottom: lhs(1);
	margin-bottom: lhs(2);
	border-bottom: 1px solid $black;

	&__header{
		text-transform: uppercase;
	}

	&__first{
		text-align: justify;

		@media screen and (max-width: $small-c - 1){
			flex: 1 0 100%;
		}

		@media screen and (min-width: $small-c){
			@include span(5 of 12);
		}
	}

	&__second{

		@media screen and (max-width: $tiny - 1) {
			flex: 1 0 100%;
		}

		@media screen and (min-width: $tiny) and (max-width: $small-c - 1) {
			flex: 1 0 auto;
		}

		@media screen and (min-width: $small-c){
			align-self: flex-end;
			@include push(1);
			@include span(3 of 12);
		}

		@media screen and (min-width: $large){
			@include push(2);
			@include span(2 of 12);
		}
	}

	&__third{

		@media screen and (min-width: $tiny) and (max-width: $small-c - 1){
			flex: 1 0 auto;
			justify-content: flex-end;
		}

		@media screen and (max-width: $small-c - 1) {
			display: flex;
		}

		@media screen and (min-width: $small-c){
			@include span(2 of 12 last);
			align-self: flex-end;
		}
	}

	&__email{
		color: $pink;
	}

}