.form{
	display: flex;
	width: 100%;
	font-size: get-size($h4);

	&__wrapper{
		margin: auto;
		@include span(10 of 12);

		@media screen and (min-width: $small){
			@include span(8 of 12);
		}

		@media screen and (min-width: $medium){
			@include span(6 of 12);
		}

		@media screen and (min-width: $large){
			@include span(4 of 12);
		}	
	}

	&__item{
		border-bottom: 1px solid $black;
		margin-bottom: lhs(1.5); 

		&:last-of-type{
			border-bottom: 0;
		}
	}

	&__label {
		height: 100%;
	}

	&__input{
		height: 100%;
		margin-left: lhs();
		
		border: 0;
		font-size: get-size($h4);
		font-weight: 300;

		&:focus{
			 outline: 0;
		}
	}

	&__textarea{
		width: 100%;
		min-height: lhs(10);
		padding: 1rem lhs();
		
		border: 1px solid $black;
		font-size: get-size($h4);
		font-family: "Rubik";
		font-weight: 300;
		
		resize: none;

		&:focus{
			 outline: 0;
		}
	}

	&__submit{
		float: right;
		border: 2px solid $pink;
		background: transparent;
		color: $pink;
		font-weight: 700;
		font-size: get-size($h4);
		padding: 5px 30px 5px 30px;
		transition: all 200ms ease-out;
		cursor: pointer;

		&:hover {
			color: $white;
			background-color: $pink;
		}
	}
}