.jumbo{
	width: 100%;
	height: $full-height-s;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    @media screen and (min-width: $small){
        height: $full-height;
    }

    &__description{
        position: absolute;
        width: 100%;
        color: $white;
        font-weight: 300;
        opacity: 0.9;
        bottom: lhs(1);
        text-align: center;
        font-size: get-size($h3);
        text-shadow: 4px 0 4px rgba(#202020, 0.75);
    }

    &__description:before {
        content: "\201E";
        margin-right: -2px;
    }

    &__description:after {
        content: "\201C";
        margin-left: -2px;
    }
}