.lang-sel{
    margin-bottom: 0;
	height: 100%;

	&__item{
        display: inline-block;
        text-transform: uppercase;

		@media screen and (min-width: $small){
			line-height: $header-height;
		}

		&--active a{	
			font-weight: 500;
		}
	}
}
