.menu{
	display: flex;
	justify-content: flex-end;
	height: 100%;
    margin-bottom: 0;
	padding-top: 0.25rem;

	@media screen and (min-width: $small){
		opacity: 1;
	}

	@media screen and (max-width: $small - 1){
		display: none;
		flex-direction: column;
		justify-content: space-between;

		opacity: 0;
		width: 100%;
		padding: bs(2) 0;
	}

	&__item{
		padding: 0 20px;
		line-height: $header-height;
		color: $gray;
        text-transform: uppercase;

		@media screen and (max-width: $small - 1){
			line-height: bs(2);
			text-align: center;
		}

		a:hover {
			opacity: 1;
			color: $black;
		}

		&--active{	
			color: $black;
			font-weight: 500;
		}
	}
}

.menu--small {
	position: absolute;
	top: 0;
	right: 20px;

	@media screen and (min-width: $small) {
		display: none; 
	}

	&:hover{
		cursor: pointer;
	}
}

	