.project{

    &__item{
        width: 100%;
        display: flex;
        height: $full-height-s;

        @media screen and (min-width: $small){
            height: $full-height;
        }        
    }

    &__single{
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        flex: 1;
    }

    &__left-column{
        display: none;

        @media screen and (min-width: $small){
            display: block;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 65%;
        }     
    }

    &__right-column{
        width: 100%;
        overflow-y: auto;
        
        @media screen and (min-width: $small){
            align-self: center;
            width: 35%;

            overflow-y: visible; 
        }
    }

    &__description{
        text-align: justify;
        padding: 10% 15% 0 15%;

        @media screen and (min-width: $small){
           padding: 12vh 19% 12vh 9%;
        }

        @media screen and (min-width: $medium){
           padding: 30vh 22% 30vh 18%;
        }

        & > p{
            margin-bottom: lhs(1);
        }
    }

    &__header{
        font-size: bsf();
        font-weight: 500;
    }

}