.table{
	&__item{
		font-size: 1.3*base-font-size();
		
		@media screen and (min-width: $medium){
			font-size: base-font-size();
		}

		@media screen and (min-width: $large){
			font-size: 1.3*base-font-size();
		}
	}

	&__item--bold{
		font-weight: 700;
	}
}