@include with-layout(12 1/8) {
    .thumbnails {
        width: 90%;
        margin: 0 auto;

        @media screen and (min-width: $medium){
            width: 80%;
        }

            &__item{
                position: relative;
                cursor: pointer;
                
                @include span(6 of 12);
                height: 30vw;
                margin-bottom: gutter() * 2;

                overflow: hidden;  
                transition: opacity 0.2s;


                @media screen and (min-width: $tiny){
                    @include span(4 of 12);
                    height: 20vw;
                }  

                @media screen and (min-width: $small){
                    @include span(3 of 12);
                    height: 18vw;
                }

                @media screen and (min-width: $medium){
                    @include span(25%);
                    height: 15vw;
                }


                @media screen and (min-width: $large){
                    height: 12vw;
                    @include span (2 of 12);
                }                                

                &:hover{
                    opacity: 0.6;
                }
            }

            &__img{
                width: 100%;
                height: 100%;

                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;    
            }

            &__img--first {
                filter: blur(2px);
            }

            &__title{
                position: absolute;
                width: 100%;
                bottom: 36%;

                color: $white;
                font-weight: 300;
                text-align: center;
                font-size: get-size($h4);

                text-shadow: 4px 0 4px rgba(#202020, 0.75);
                z-index: 1;
                cursor: pointer;

                @media screen and (min-width: $large){
                    bottom: lhs(1);
                }
        }
    }
}
