.tiles{
    @include container;
	width: 100%;
	overflow: hidden;

    &__item {
        position: relative;
        width: 100%; 
        opacity: 1;
        padding-right: 1.5px;
        padding-left: 1.5px;
        margin-bottom: 3px;

        & img {
            width: 100%;
            height: auto;
            vertical-align: bottom;
        }
    }

    &__description{
    	position: absolute;
    	width: 100%;
    	bottom: 40px;

    	text-align: center;
    	color: $white;
    	font-size: get-size($h6);
    	letter-spacing: .05rem;
        text-transform: uppercase;

    	z-index: 50;
    }

    @media screen and (min-width: $tile-w-big) {

        &__item{
            @include gallery(6 of 12 no-gutters);
        }
    }


    @media screen and (min-width: $small) {
        margin-top: 0;
        margin-bottom: 0;
    }

    @media screen and (min-width: $gallery-3){

        &__item{
            @include gallery(4 of 12 no-gutters);
        }
    }

    @media screen and (min-width: $gallery-w){
        width: $gallery-w;

        &__item {
            @include gallery(4 of 12 no-gutters);   
            height: $tile-h;
            overflow: hidden;

            & a:hover {
                opacity: 1;
            }

            & img{             
                height: $tile-h;
                cursor: pointer;
                transition: all 0.15s ease-out;
            }

            &:hover img {
                transform: scale(1.1);
                opacity: 0.8;
                filter: blur(1px);
            }

        }

        &__zoomin {
            overflow: hidden;
            height: $tile-h;
        }
    }

    @media screen and (min-width: $gallery-w-big) {
        width: $gallery-w-big;

        &__item {
            @include gallery(3 of 12 no-gutters);
            height: $tile-h-big;

            & img {
                height: $tile-h-big;
            }
        }

        &__zoomin {
            height: $tile-h-big;
        }
    }
}