.view-switcher{
    position: absolute;
    cursor: pointer;
    
    bottom: $header-height * 2;
    right: 3%;

    @media screen and (min-width: $small){
        bottom: $header-height;
    }

    &__svg:hover {
        opacity: 0.6;
    }
}