.footer{ 
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
	
	height: $footer-height-s;
	padding: 0.75em; 

	font-size: get-size($smaller);

	@media screen and (min-width: $small){
		height: $footer-height;
		padding: 0 3%;
		line-height: $header-height;
	}


	&__left{
		flex: 1 0 100%;

		text-align: center;

		@media screen and (min-width: $small){
			flex: 1 0 0;

			text-align: left;
		}
	}


	&__center{
		flex: 1 0 100%;

		text-align: center;

		@media screen and (min-width: $small){
			flex: 1 0 0;
		}
	}


	&__right{
		flex: 1 0 100%;

		text-align: center;

		@media screen and (min-width: $small){
			flex: 1 0 0;

			text-align: right;
		}
	}
}