.header{
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	
	height: $header-height;
	width: 100%;
	margin: auto;
	padding: 0 3%;

	background-color: $white;

	z-index: 89;

	@media screen and (max-width: $small - 1){
		position: fixed;
		flex-direction: column;
		justify-content: flex-start;		
		width: 100%;		
		background: $white;
		z-index: 50;
	}

	&__left a{
		&:hover{
			opacity: 1;
		}
	}

	&__right{
		margin: 0;

		@media screen and (max-width: $small){
			display: flex;
			padding-top: 0;
			height: 75%;

		}
		
	}

}