.screen-overlay {
    display: none;
    opacity: 0;
    position: absolute;
    width: 100%;
    min-height: 100vh;
    
    top: 0;
    padding-top: $header-height;

    background: rgba($black, 0.86);
    z-index: 100;

    &--visible{
        display: block;
        opacity: 1;
   }

   &__cancel {
       position: absolute;
       top: bsf();
       right: 3%;
       cursor: pointer;
   }
}